.structure_list {
  border-style: dotted;
  padding-left: 10px;
  padding-top: 10px;
}
.structure_container {
  border-style: dotted;
  padding-left: 10px;
  padding-top: 10px;
}
.structure_leaflabel{
  
}
